.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid whitesmoke; */
}

.header__left{
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

.header__left > img{
    object-fit: contain;
    height: 40px;
    margin-left: 5px;
}

.header__middle{
    display: flex;
    flex: 0.6;
    align-items:center;
    background-color: #eef3fc;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
}

.header__middle > input:focus{
    background-color: white;
}

.header__middle:focus-within{
    background-color: white;
    box-shadow: 0px 2px 5px -2px gray;
}

.header__middle > .MuiSvgIcon-root{
    color: gray;
}

.header__middle > .header__inputCaret{
    margin: 5px;
}

.header__middle > input {
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
    transition: 0.3s;
}

.header__right{
    display: flex;
    flex: 0.3;
    align-items: center;
    justify-content: right;
    padding-right: 10px;
}

.header__right > .MuiSvgIcon-root{
    margin: 10px;
    color: #5f6368;
}

.user__avatar > p{
    font-size: 11px;
}